* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
  font-family: Verdana;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: antiquewhite;
  height: 700px;
  max-width: 700px;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice-container {
  margin-top: 20px;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  padding: 10px;
}

.die-face {
  padding: 10px;
  width: 104px;
  height: 104px;
  border-radius: 10%;
  margin-right: 10px;
  cursor: pointer;
}

.die-is-held {
  background-color: rgb(79, 240, 127);
}

.die-is-not-held {
  background-color: tomato;
}

.die-num {
  font-size: 4rem;
  color: #0b2434;
}

.title {
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.instructions {
  margin-left: 40px;
  margin-right: 40px;
}

.roll-button {
  margin-top: 30px;
  background-color: rgb(212, 178, 243);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  height: 100px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  color: white;
  font-family: Verdana;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.roll-button:focus {
  outline: none;
}

.roll-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(150, 85, 181, 0.7);
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .dot:nth-of-type(1) {
  align-self: flex-end;
}

.third-face .dot:nth-of-type(2) {
  align-self: center;
}

.fourth-face,
.sixth-face,
.fifth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column,
.sixth-face .column,
.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}
